/* BODY */
body {
    margin: 0;
    padding: 0;
    background-color: #fdf2f8;
    color: #831843;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;
    background-color: #ffffff;

    position: sticky;
    top: 0;
}

/* LOGO */
.logo {
    color: #db2777;
}

/* NAV LINKS */
.nav-links a {
    color: #9d174d;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ef439c;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    color: #be185d;
    max-width: 600px;
    margin: auto;
    margin-bottom: 25px;
}

/* BUTTON */
button {
    background-color: #ec4899;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #db2777;
    transform: scale(1.05);
}

/* ABOUT SECTION */
.about {
    text-align: center;
    padding: 60px 20px;
}

.about h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.about p {
    color: #be185d;
    max-width: 700px;
    margin: auto;
}

/* CARDS SECTION */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    padding: 50px 20px;
}

/* CARD */
.card {
    background-color: #ffffff;

    width: 250px;
    padding: 20px;

    border-radius: 12px;

    border: 1px solid #fbcfe8;

    box-shadow: 0 8px 25px rgba(236, 72, 153, 0.15);

    transition: 0.3s;
}

/* CARD HOVER */
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(236, 72, 153, 0.2);
}

/* CARD TEXT */
.card h2 {
    color: #db2777;
    margin-bottom: 10px;
}

.card p {
    color: #be185d;
    font-size: 14px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: #db2777;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 10px;
    }

    .hero h1 {
        font-size: 38px;
    }

    .hero p {
        font-size: 16px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

}